/Aula2part3/nbproject/private/
/Aula2part3/build/
/Aula3 12-04-23/nbproject/private/
/Aula3 12-04-23/build/
/Aula3part2EXERCICIOSARITMETICOS/nbproject/private/
/Aula3part2EXERCICIOSARITMETICOS/build/
/Aula4exerciciosAritmeticos/nbproject/private/
/Aula4exerciciosAritmeticos/build/
/Aula4part2exercicoAritmetico/nbproject/private/
/Aula4part2exercicoAritmetico/build/
/Aula4part3exerciciosAritmeticos/nbproject/private/
/Aula4part3exerciciosAritmeticos/build/
/JavaApplication26/nbproject/private/
/JavaApplication26/build/
/Aula5if&else 18-04-2023/nbproject/private/
/Aula5if&else 18-04-2023/build/
/Aula5if&else part2/nbproject/private/
/Aula5if&else part2/build/
/Aula5 part3/nbproject/private/
/Aula5 part3/build/
/Aula5 part4/nbproject/private/
/Aula5 part4/build/