/Aula2part3/nbproject/private/
/Aula2part3/build/
/Aula3 12-04-23/nbproject/private/
/Aula3 12-04-23/build/
/Aula3part2EXERCICIOSARITMETICOS/nbproject/private/
/Aula3part2EXERCICIOSARITMETICOS/build/
/Aula4exerciciosAritmeticos/nbproject/private/
/Aula4exerciciosAritmeticos/build/
/Aula4part2exercicoAritmetico/nbproject/private/
/Aula4part2exercicoAritmetico/build/
/Aula4part3exerciciosAritmeticos/nbproject/private/
/Aula4part3exerciciosAritmeticos/build/
/JavaApplication26/nbproject/private/
/JavaApplication26/build/
/Aula5if&else 18-04-2023/nbproject/private/
/Aula5if&else 18-04-2023/build/
/Aula5if&else part2/nbproject/private/
/Aula5if&else part2/build/
/Aula5 part3/nbproject/private/
/Aula5 part3/build/
/Aula5 part4/nbproject/private/
/Aula5 part4/build/
/Aula6exercicios/nbproject/private/
/Aula6exercicios/build/
/Aula6part2/nbproject/private/
/Aula6part2/build/
/Teste/nbproject/private/
/Teste/build/
/Aula6 20042023/nbproject/private/
/Aula6 20042023/build/
/Aula6 exercicio 2/nbproject/private/
/Aula6 exercicio 2/build/
/Aula6Exercicio3/nbproject/private/
/Aula6Exercicio4/nbproject/private/
/Aula6Exercicio4/build/
/Aula6Exercicio5/nbproject/private/
/Aula6Exercicio5/build/
/Aula6Exercicio6/nbproject/private/
/Aula6Exercicio6/build/
/Aula6Exercicio7/nbproject/private/
/Aula6Exercicio7/build/
/Aula6Exercicio8/nbproject/private/
/Aula6Exercicio8/build/
/Aula6Exercicio9/nbproject/private/
/Aula6Exercicio9/build/
/Aula6Exercicio10/nbproject/private/
/Aula6Exercicio10/build/
/Aula6Exercicio3/build/